In [1]:
import keyword

In [2]:
keyword.kwlist

['False',
 'None',
 'True',
 '__peg_parser__',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [5]:
import os
import pandas as pd
import numpy as np

In [6]:
import my_package

In [8]:
from my_package import test_package as TP

In [9]:
print(TP.NAME)

NANDA

In [14]:
## 2.	Create the string, int and float variable and delete them all in the next cell

In [12]:
var1 = 10
Var2 = 1.0
Var3 = 'Welcome'
print (var1, Var2, Var3)
del var1
print (Var2, Var3)
del Var2
print (Var3)
del Var3
##print (var1, Var2, Var3)

10 1.0 Welcome
1.0 Welcome
Welcome

In [15]:
##3.	What’s the result of assigning a value to a ‘keyword’?
##a.	Please highlight the error

In [16]:
del = 2

SyntaxError: invalid syntax (Temp/ipykernel_33968/4032510782.py, line 1)

In [17]:
##4.	How to write a multi-line statement and assign it to a variable (Note: Without using a backslash “\” at the end of each line)

In [19]:
Val = (1+2+3+4+5+
6+7+8+9+100)
print(Val)

145

In [20]:
##5.	Print the list of numbers from 100 to 999 with an interval (step size) of 8 between the numbers

In [26]:
list(range(100, 999, 8))

[100,
 108,
 116,
 124,
 132,
 140,
 148,
 156,
 164,
 172,
 180,
 188,
 196,
 204,
 212,
 220,
 228,
 236,
 244,
 252,
 260,
 268,
 276,
 284,
 292,
 300,
 308,
 316,
 324,
 332,
 340,
 348,
 356,
 364,
 372,
 380,
 388,
 396,
 404,
 412,
 420,
 428,
 436,
 444,
 452,
 460,
 468,
 476,
 484,
 492,
 500,
 508,
 516,
 524,
 532,
 540,
 548,
 556,
 564,
 572,
 580,
 588,
 596,
 604,
 612,
 620,
 628,
 636,
 644,
 652,
 660,
 668,
 676,
 684,
 692,
 700,
 708,
 716,
 724,
 732,
 740,
 748,
 756,
 764,
 772,
 780,
 788,
 796,
 804,
 812,
 820,
 828,
 836,
 844,
 852,
 860,
 868,
 876,
 884,
 892,
 900,
 908,
 916,
 924,
 932,
 940,
 948,
 956,
 964,
 972,
 980,
 988,
 996]

In [22]:
## 6.	Write a “for” loop to print out the ‘n’ values and break out of the statement if the value is ‘n/2’

In [37]:
n=10
for i in range(1,n):
    print(i)
    if(i == n/2):
        break

1
2
3
4
5

In [38]:
##7.	Write a simple function and call the docstring from outside the function

In [39]:
def addition_function(a, b):
    """Function to add two number"""
    return a + b

In [40]:
print(addition_function(5, 12))

17

In [41]:
print(addition_function.__doc__)

Function to add two number

In [42]:
##8.	Create a user-defined package in ‘site-packages’ with below 3 variables a, b and c. Import these variables and write a function to calculate the area of triangle for below 3 sides (a, b, c). Calculate the semi-perimeter (s) first, to calculate the area of triangle (area) at last

In [43]:
import test_package as TP

ModuleNotFoundError: No module named 'test_package'

In [44]:
from my_package import test_package as TP

In [45]:
##Formula to calculate semi-perimeter

In [46]:
s = (TP.a+TP.b+TP.c)/2
print(s)

35.0

In [47]:
##<< Formula to calculate area of Triangle

In [48]:
AreaTA = (s*(s-TP.a) * (s-TP.b) * (s-TP.c)) ** 0.5

In [49]:
print(AreaTA)

(1.5686119320691177e-14+256.17376914898995j)

In [50]:
##9.	Write a list comprehension to print the odd numbers from 0 to 100

In [52]:
list(range(1, 100, 2))

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [53]:
##10.	 Create a variable (ex: name) and store your full name in it. Then write a list comprehension to print your name excluding vowels (a, e, i, o, u)

In [56]:
user_input = input("enter a string with some vowels: ")
print("input string: " + str(user_input))
vowels = ('a','e','i','o','u','A','E','I','O','U')
new_string="";
for i in range(0,len(user_input),1):
    if user_input[i] in vowels:
        print ('found a vowel, removing...')
    else:
        new_string+=user_input[i]
print("I've removed the vowels for you. You're welcome! The new string is: " + new_string)

enter a string with some vowels: NANDAKUMAR
input string: NANDAKUMAR
found a vowel, removing...
found a vowel, removing...
found a vowel, removing...
found a vowel, removing...
I've removed the vowels for you. You're welcome! The new string is: NNDKMR